{
  "plugins": [
    "prettier",
    "import",
    "unicorn"
  ],
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "max-len": "off",
    "no-debugger": "error",
    "no-console": [
      "warn",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "no-underscore-dangle": "off",
    "object-curly-spacing": "off",
    "prefer-object-spread": "error",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "no-throw-literal": "warn",
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "curly": [
      "error",
      "all"
    ],
    "dot-notation": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "no-useless-rename": "error",
    "no-restricted-syntax": [
      "error",
      "ForInStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "require-atomic-updates": "off",
    "no-await-in-loop": "off",
    "class-methods-use-this": "off",
    "no-useless-constructor": "off",
    "import/order": "error",
    "import/first": "error",
    "import/no-mutable-exports": "error",
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never"
      }
    ],
    "unicorn/prevent-abbreviations": "off",
    "unicorn/filename-case": "off",
    "unicorn/prefer-module": "off",
    "unicorn/consistent-function-scoping": "off",
    "unicorn/prefer-ternary": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-indent": "off",
    "react/no-unused-prop-types": "off",
    "react/destructuring-assignment": "off",
    "react/require-default-props": "off",
    "jsx-a11y/label-has-associated-control": "off"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:unicorn/recommended",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    },
    "import/ignore": [
      "node_modules",
      "\\.(coffee|scss|css|less|hbs|svg|json)$"
    ]
  }
}
