#contact {
  h2 {
    @include font-styling($font-heading, 2rem, $red, $font-medium);
  }

  .link-faq {
    @include font-styling($font-body, 1rem, $red, $font-bold);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .contact-form-wrapper {
    background: linear-gradient(45deg, rgba(255, 95, 109, 0.9), rgba(255, 195, 113, 1));
    border-radius: 15px;
  }

  @extend %form-inputs;

  //Message box resize disabled.
  .contact-form-message {
    font-size: 1.35rem;
    line-height: 1.2;
    resize: none;
  }

  //First 2 inputs take full width on smaller screens.
  #contact-form-name, #contact-form-email{
    @include media-breakpoint-down(md){
      width: 100%;
    }
  }

}
