#login {
  background: url("/assets/img/gift-white-bg.jpeg") no-repeat;
  background-size: cover;
  min-height: 100vh;

  .container {
    background: linear-gradient(45deg, rgba(255, 95, 109, 0.9), rgba(255, 195, 113, 1));
    border-radius: 15px;

    input[type="text"], input[type="password"] {
      background-color: transparent;
      color: $white;
      border: none;
      border-radius: 0;
      border-bottom: 2px solid $white;

      &::placeholder {
        color: $white;
        opacity: 1;
      }

      &:focus {
        box-shadow: none;
      }
    }
    label {
      color: $white;
    }

    p {
      color: shade-color($red, 40%);
    }
  }
}
