#sign-up {
  background: url("/assets/img/gift-white-bg.jpeg") no-repeat;
  background-size: cover;
  min-height: 100vh;

  #agency-switch {
    &.form-check-input {
      &:checked {
        background-color: $secondary;
        border-color: $secondary;
      }
    }
  }

  .container {
    background: linear-gradient(45deg, rgba(255, 95, 109, 0.9), rgba(255, 195, 113, 1));
    border-radius: 15px;

    @extend %form-inputs;

  }
}
