.y-scroll {
    overflow-y: scroll;
    max-height: 100px;
}

.fa-user,
.fa-bell,
.fa-cogs,
.fa-gift {
    font-size: 2.4em;
}

.fa,
.fas {
    margin: 0.3em 0.5em;
}

input,
textarea {
    text-decoration: none;
    outline: none;
    border: none;
}

.tinted {
    background-color: transparentize($white, 0.5);
}

/* 
  -----------------------------
  Reusable Utils - alignment
  -----------------------------
  */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
  -----------------------------
  Reusable Utils - Button
  -----------------------------
  */
.btn-link {
    font-family: $font-body !important;
    appearance: none;
    outline: none;
    background: none !important;
    border: none;
    text-decoration: none;
    color: $navy !important;
    font-weight: $medium;
    font-size: 1.1rem;
    margin: 0 0.5rem;
    &:hover {
        color: $orange !important;
    }
}

%btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    padding: 12px 15px;
    width: 100%;
    border: 0.5px solid transparent;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

%btn-lg {
    padding: 1rem 2rem;
    font-size: 1.3rem;
    margin: 10px;
    line-height: 1.2em;
    transition: all 0.2s ease-in-out;
    border: 0.15rem solid transparent;
    display: inline-flex;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    outline: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

%hover-navy {
    background-color: $navy;
    color: $white !important;
    border: 0.15rem solid $white;
    text-decoration: none;
}

.btn-orange-navy-lg {
    @extend %btn-lg;
    background-color: $orange;
    color: $white !important;
    &:hover {
        @extend %hover-navy;
    }
}

.btn-white-navy-lg {
    @extend %btn-lg;
    background-color: $white;
    color: $navy !important;
    &:hover {
        @extend %hover-navy;
    }
}

%btn-long {
    padding: 1rem 3rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    opacity: 1;
    border: 0.15rem solid transparent;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 40vw !important;
    height: 8vh !important;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    margin: 10px;
    line-height: 1.2em;
    text-align: center !important;
    align-items: center;
    justify-content: center;
}

.btn-orange-navy-lg-long {
    @extend %btn-long;
    background-color: $orange;
    color: $white !important;
    &:hover {
        @extend %hover-navy;
    }
}

.btn-disabled-long {
    @extend %btn-long;
    background-color: lighten($gray, 25%);
    color: $white !important;
}

@media only screen and (max-width: 768px) {
    .btn-disabled-long {
        width: 80vw !important;
    }
    .btn-orange-navy-lg-long {
        width: 80vw !important;
    }
}

/*--------------------------------------------------------------
      Footer
  --------------------------------------------------------------*/
.footer-bar {
    padding: 10px 0;
    font-size: 1rem;
    color: $white;
    text-align: center;
    background: lighten($black, 5);
}

/* 
  -----------------------------
  move this later -- from home.ejs
  -----------------------------
  */
.partners-container {
    h1 {
        @include font-styling($font-heading, 2.5rem, $navy, $medium);
        text-align: center;
        padding: 1rem 0rem 3rem 0rem;
    }
}

.thanks {
    h1 {
        @include font-styling($font-heading, 2.5rem, $green, $medium);
        text-align: center;
    }
}

// TODO: this stuff is for createWishcard.ejs and will be moved later
.create-wish {
    padding: 2.5rem 0rem;
    background-color: lighten($cream, 9);
    .card-body {
        padding: 2.5rem;
        @include font-styling($font-body);
    }
    h4 {
        @include font-styling($font-heading, 2.5rem, $orange);
        text-align: center;
        margin-bottom: 2.5rem;
    }
    .input-block {
        display: block;
        width: 100%;
        background: $white;
        line-height: 1.75;
        color: $black;
        padding: 0.5rem 1.25rem;
        border: 0.1rem solid $orange;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
    }
    label {
        font-weight: $semi-bold;
        color: $black;
    }
    a {
        cursor: pointer;
        color: $orange !important;
        &:hover {
            text-decoration: underline !important;
        }
    }
    .uploader {
        background-color: lighten($orange, 14);
        text-align: center;
        vertical-align: middle;
        padding: 0.4em 0.7em;
        outline: none;
        width: auto;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        &:hover {
            background-color: $orange;
        }
    }
    .form-submit {
        background-color: $orange;
        color: $white;
        padding: 0.6em 5em;
        &:hover {
            background-color: lighten($navy, 5);
        }
    }
}

/*--------------------------------------------------------------
      Temporarily placed here - outdated css 
  --------------------------------------------------------------*/

#navbar-toggler-item {
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.mission-image {
    width: 400px;
}

// FAQ page

// react-accessible-accordion/dist/fancy-example.css override
.faq {
    h1 {
        @include font-styling($font-heading, 2.25rem, $navy, $medium);
    }
}
.accordion-btn {
    @include font-styling($font-body, 1rem, $white, $medium);
    background-color: $navy;
    cursor: pointer;
    padding: 1.5rem;
    width: 100%;
    text-align: left;
    border: solid 4px $white;
    border-radius: 0.5rem;
    &:hover,
    &:active {
        background-color: $orange;
    }
    &:before {
        display: inline-block;
        content: "";
        height: 10px;
        width: 10px;
        margin-right: 12px;
        border-bottom: 2px solid $white;
        border-right: 2px solid $white;
        transform: rotate(-45deg);
    }
}

.accordion-panel {
    padding: 2rem;
    text-align: left;
    animation: fadein 0.35s ease-in;
}
