@import "./colors";
@import "./fonts";
@import "./utils";
@import "./nav";
@import "./footer";

@import "./home";
@import "./wishcards";
@import "./card";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  body {
    min-height: 100%;
  }
}

a {
  font-family: $font-body;
}
