@import "includes";

@font-face {
  font-family: "DK-Crayon-Crumble";
  font-weight: normal;
  src: url("/assets/fonts/dk-crayon-crumble-webfont.woff") format("woff");
}

@font-face {
  font-family: "DK-Cool-Crayon";
  font-weight: normal;
  src: url("/assets/fonts/dkcoolcrayon-webfont.woff") format("woff");
}

@font-face {
  font-family: "Quicksand";
  font-weight: normal;
  src: url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;

  body {
    min-height: 100%;

    // remove borders from react-bootstrap modal component
    .modal-content,.modal-header,.modal-footer {
      border: none;
    }

    // makes all checkboxes a bit bigger
    .form-check-input {
      width: 1.1em;
      height: 1.1em;
      margin-top: 0.2em;
    }
  }
}
